.header {
    padding: 10px;
    text-align: center;
    width: auto;
    background-color: black;
    color: white;
}

h2{
    text-align: center;
}
.weather-image{
    width: 50px;
}

span{
    background-color: yellow;
    /* width: 4em; */

}