.header {
    padding: 10px;
    text-align: center;
    width: auto;
    background-color: black;
    color: white;
}

h2{
    text-align: center;
}
.weather-image{
    width: 50px;
}

.index{
    background-color: yellow;
    /* width: 4em; */

}
.index2{
    background-color: orange;

}

.inde3{
    background-color: red;

}

.index4{
    background-color: violet;
}